/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */
body {
  font-family: "Segoe UI", sans-serif;
  background: #0b0f14;
  color: #ffffff;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navbar a {
  font-weight: 600;
  letter-spacing: 0.2px;
}

.navbar a:hover {
  color: #00b4ff;
}

.logo {
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

/* HERO */
.hero {
  height: 100vh;
  padding: 0 10%;
  background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("assets/banner.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

.hero-content {
  margin-top: 80px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.hero p {
  font-size: 1.3rem;
  color: #cbd5e1;
  margin-bottom: 30px;
}

/* BUTTON */
.btn-primary {
  background: #00b4ff;
  color: #000;
  padding: 14px 30px;
  border-radius: 8px;
  font-weight: bold;
  display: inline-block;
  transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.btn-primary:hover {
  background: #0090cc;
  transform: translateY(-2px);
}

/* SERVICES */
.services {
  padding: 100px 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.service {
  background: #111827;
  padding: 40px;
  border-radius: 14px;
  text-align: center;
  transition: transform 0.3s;
}

.service:hover {
  transform: translateY(-10px);
}

.service i {
  font-size: 3rem;
  color: #00b4ff;
  margin-bottom: 20px;
}

.service h3 {
  font-size: 1.4rem;
  margin-bottom: 12px;
}

.service p {
  color: #cbd5e1;
  font-size: 1rem;
}

/* CTA */
.cta {
  padding: 90px 10%;
  text-align: center;
  background: #020617;
}

.cta h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.cta p {
  color: #cbd5e1;
  margin-bottom: 25px;
}

/* FOOTER */
footer {
  padding: 24px 20px;
  text-align: center;
  background: #020617;
  color: #94a3b8;
}

.service-link {
  display: block;
  color: inherit;
}
